.border-bottom-warning{
    border-bottom: 8px solid $warning;
}
.border-start-warning{
    border-left: 8px solid $warning;
}
.border-latest_event-bottom{
    border-top: 2px solid $dark;
    border-bottom: 2px solid $dark;
}