.container-bottom{
    margin-top: 13%;
    width: 105%;
    transform: rotate(8.16deg) translate(-20px, 10px); 
    background-image: url('../img/container-bottom.png');
    object-fit: contain; 
    background-position: center center ;
}