.img-hover-fb{
    &:hover{
        content:url("/img/nav-Facebook-hover.png");
    }
}
.img-hover-ig{
    &:hover{
        content:url("/img/nav-Instagram-hover.png");
    }
}
.img-hover-share{
    &:hover{
        content:url("/img/nav-Share-hover.png");
    }
}