.menu-open{
    .navbar-brand{
        img{
            opacity: 0;
        }
    }
    #menu-open-img{
        display: flex !important;
        opacity: 1 !important;
    }
}
.nav-link-hover{
    position: relative;
    @media (min-width:992px) {
        &:hover{
            border-top: 1px solid $dark;
            border-bottom: 1px solid $dark;
            &:after {
                content: '';
                position: absolute;
                top:10%;
                height: 0.9em;
                width: 1.5px;
                background-color: $warning;
            }
            &::before {
                content: '';
                position: absolute;
                top:10%;
                left:-3%;
                height: 0.9em;
                width: 2px;
                background-color: $warning;
            }
        }
    }
    
}
.border-bottom-phone{
    @media (max-width:992px) {
        border-bottom: 1px solid black;
    }
}
.navbar-toggler{
    &:focus{
        box-shadow:none;
    }
}